---
import {Image} from 'astro:assets';
import fotoFondo from '../assets/fondo-boda.jpg';
import ampersand from '../assets/simbolo-ampersand.svg';
---

<div id="container" class="relative min-h-screen w-full flex items-center justify-center overflow-hidden">

    <Image
            src={fotoFondo}
            alt="Jorge y Emma abrazados"
            width={2560}
            height={1707}
            class="absolute inset-0 w-full h-full object-cover object-center z-0"
            loading="eager"
            decoding="async"
    />

    <div class="absolute inset-0 bg-black/10 z-10"></div>

    <main class="relative z-20 text-center text-white px-4">
        <section class="animate-fade-in-up">
            <span class="font-body text-base md:text-2xl tracking-[0.2em] uppercase text-[#eeede7] block mb-6 md:mb-10">
                Nuestra boda
            </span>

            <div class="flex items-center justify-center gap-4 md:gap-8 mb-6 md:mb-10">

                <h1 class="font-wedding text-4xl sm:text-5xl md:text-7xl font-light leading-none uppercase tracking-widest">
                    Jorge
                </h1>

                <Image
                        src={ampersand}
                        alt="&"
                        class="w-15 h-15 md:w-35 md:h-35 object-contain"
                />

                <h1 class="font-wedding text-4xl sm:text-5xl md:text-7xl font-light leading-none uppercase tracking-widest">
                    EMMA
                </h1>
            </div>

            <div class="flex items-center justify-center gap-4 text-[#eeede7]">
                <p class="font-body text-xl md:text-4xl">
                    12 | SEP | 2026
                </p>
            </div>

        </section>
    </main>
</div>

<style>
    #container {
        height: 100vh;
        height: 100dvh;
    }

    .animate-fade-in-up {
        animation: fadeInUp 2s ease-out forwards;
    }

    @keyframes fadeInUp {
        from {
            opacity: 0;
            transform: translateY(30px) scale(0.98);
        }
        to {
            opacity: 1;
            transform: translateY(0) scale(1);
        }
    }
</style>