---
import '@fontsource/namdhinggo';
import '@fontsource/cormorant';
import '../styles/global.css';
import Preloader from '../components/Preloader.astro';
import MagneticMouse from "../components/MagneticMouse.astro";
---

<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Nuestra boda</title>
</head>
<body class="bg-[#f6f0e4]">
<Preloader />
<MagneticMouse /> <slot />
</body>
</html>

<style is:global>
    html, body {
        margin: 0;
        width: 100%;
        overflow: hidden;
    }
</style>

<script>
    import Lenis from 'lenis'

    const lenis = new Lenis({
        duration: 1.2,
        easing: (t) => Math.min(1, 1.001 - Math.pow(2, -10 * t)),
        smoothWheel: true,
    })

    lenis.stop();

    function raf(time: number) {
        lenis.raf(time)
        requestAnimationFrame(raf)
    }
    requestAnimationFrame(raf)

    const observer = new MutationObserver((mutations) => {
        mutations.forEach((mutation) => {
            if (document.body.classList.contains('preloader-done')) {
                lenis.start();
                observer.disconnect();
            }
        });
    });

    observer.observe(document.body, { attributes: true });
</script>