---
import '@fontsource/namdhinggo';
import '@fontsource/cormorant';
import '../styles/global.css';
import Preloader from '../components/Preloader.astro';
import MagneticMouse from "../components/MagneticMouse.astro";
import MusicPlayer from "../components/MusicPlayer.astro";
---

<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />

    <meta property="og:title" content="Nuestra Boda: Jorge & Emma" />
    <meta property="og:description" content="¡Estás invitado a celebrar nuestro gran día! 12 de Septiembre de 2026." />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.beambleam.com/" />

    <meta property="og:image" content="https://www.beambleam.com/preview-boda.jpg" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta property="og:image:alt" content="Invitación de Boda Jorge y Emma" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Boda Jorge & Emma" />
    <meta name="twitter:image" content="https://www.beambleam.com/preview-boda.jpg" />
    <title>Nuestra boda</title>
</head>
<body class="bg-[#f6f0e4]">
<Preloader />
<MagneticMouse />
<MusicPlayer />
<slot />
</body>
</html>

<style is:global>
    html, body {
        margin: 0;
        width: 100%;
        overflow: hidden;
    }
</style>

<script>
    import Lenis from 'lenis'

    const lenis = new Lenis({
        duration: 1.2,
        easing: (t) => Math.min(1, 1.001 - Math.pow(2, -10 * t)),
        smoothWheel: true,
    })

    lenis.stop();

    function raf(time: number) {
        lenis.raf(time)
        requestAnimationFrame(raf)
    }
    requestAnimationFrame(raf)

    const observer = new MutationObserver((mutations) => {
        mutations.forEach((mutation) => {
            if (document.body.classList.contains('preloader-done')) {
                lenis.start();
                observer.disconnect();
            }
        });
    });

    observer.observe(document.body, { attributes: true });
</script>